fastapi
uvicorn[standard]
pydantic
langchain
langchain-groq
langchain-community
langgraph
langgraph-checkpoint-sqlite
pinecone
fastembed
pypdf
docx2txt
python-multipart
python-dotenv
tavily-python
pytest
pytest-asyncio
httpx
langchain_tavily
